@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: #fff;
    overflow-x: hidden;
}

/* Global Classes  */
li,
button {
    color: #000;
    cursor: pointer;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* Header Section  */
.header {
    position: relative;
    width: 100%;
    padding: 30px 40px 50px 40px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;
}

.header .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .top .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .top .logo .logo-img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 1px solid #000;
}

.header .top .logo h2 {
    font-weight: 500;
    font-size: 1.75rem;
    margin-left: 10px;
    letter-spacing: 7px;
}

.header .top nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header .top nav ul li {
    list-style: none;
    margin-left: 50px;
}

.header .top nav ul li a {
    color: #000;
    text-decoration: none;
}

.header .top nav ul li a:hover {
    text-decoration: underline;
}

.header .bottom {
    position: absolute;
    display: flex;
    justify-content: right;
    right: 40px;
    bottom: 0px;
}

.header .bottom nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header .bottom nav ul li {
    list-style: none;
    margin-left: 10px;
    padding: 15px 40px;
    background-color: #fff;
    border: 1px solid #000;
    border-bottom: none;
    transition: all 0.3s ease 0s;
}

.header .bottom nav ul li:last-child {
    padding: 15px 15px;
}

.header .bottom nav ul li:hover  {
    background-color: #000;
}

.header .bottom nav ul li a {
    text-decoration: none;
    color: #000;
}

.header .bottom nav ul li:hover a {
    color: #fff;
}

/* General Page Section */
.hero-general {
    padding: 20px 40px;
}

/* Breadcrumbs  */
.hero-general .breadcrumbs{
    margin-bottom: 70px;
}

/* General Content */
.hero-general .content {
    margin: 10px 0;
}

.hero-general .content header {
    font-size: 2.25rem;
    text-align: justify;
}

.hero-general .content .container {
    display: flex;
}

.hero-general .content .container article {
    width: 70%;
    margin-right: 50px;
}

.hero-general .content .container article .details {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.hero-general .content .container article .details p {
    font-size: 1.25rem;
    font-weight: 400;
}

.hero-general .content .container article .details p:last-child {
    font-size: 1rem;
    color: #737373;
}

.hero-general .content .container article .content-post {
    margin: 5px 0;
    text-align: justify;
}

.hero-general .content .container article .content-post p {
    font-size: 1rem;
}

.hero-general .content .container article .content-post .img {
    width: 100%;
    margin: 10px 0;
    height: 400px;
    border: 1px solid #000;
}

.hero-general .content .container aside {
    width: 28%;
}

.hero-general .content .container aside .social {
    margin: 20px 0;
    display: flex;
}

.hero-general .content .container aside .social .icon {
    height: 45px;
    width: 45px;
    padding: 10px;
    border: 1px solid #737373;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.hero-general .content .container aside .social .icon:hover {
    background-color: #000;
}

.hero-general .content .container aside .social .icon:hover i {
    color: #fff;
}

.hero-general .content .container aside .social .icon i {
    color: #737373;
    font-size: 1.25rem;
}

/* Announcement Secetion  */
.hero-aside {
    margin: 20px 0;
}

.hero-aside .details {
    margin: 10px 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.hero-aside .details header {
    font-size: 1.25rem;
    width: 70%;
}

.hero-aside .details .horizontal-line {
    width: 30%;
    height: 1px;
    border: 1px solid #000;
}

.hero-aside:last-child .details header {
    width: 50%;
}

.hero-aside:last-child .details .horizontal-line {
    width: 50%;
}

.hero-aside .content {
    text-align: justify;
    margin: 25px 0;
}

.hero-aside .content p:last-child {
    font-size: 0.75rem;
    margin-top: 10px;
}

.hero-aside .content:hover p:first-child {
    text-decoration: underline;
    cursor: pointer;
}

/* Also Like Section */
.also-like {
    padding: 30px 40px;
}

.also-like .details {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.also-like .details button {
    padding: 8px 25px;
    background-color: #fff;
    border: 1px solid #000;
    transition: all 0.3s ease 0s;
}

.also-like .details button:hover {
    background-color: #000;
}

.also-like .details button a {
    text-decoration: none;
    color: #000;
}

.also-like .details button:hover a {
    color: #fff;
}

.also-like .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.also-like .row .content {
    display: flex;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.also-like .row .content:hover .img {
    transform: scale(1.02);
}

.also-like .row .content:hover .content-details header {
    text-decoration: underline;
}

.also-like .row .content .img {
    height: 120px;
    width: 300px;
    border: 1px solid #000;
}

.also-like .row .content .content-details {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.also-like .row .content .content-details header {
    font-size: 1.25rem;
}

.also-like .row .content .content-details p {
    position: absolute;
    font-size: 0.75rem;
    color: #737373;
    bottom: 5px;
}

/* Footer Section */
.footer {
    margin-top: 40px;
    background-color: #d9d9d9;
}

.footer .top {
    padding: 30px 40px;
    position: relative;
    display: flex;
}

.footer .top .logo-title {
    flex: 0 0 50%;
}

.footer .top .logo-title header {
    font-size: 2.25rem;
    font-weight: 400;
}

.footer .top .logo-title .logos {
    display: flex;
}

.footer .top .logo-title .logos .icon {
    margin: 10px 10px 10px 0;
    height: 100px;
    width: 100px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 100%;
}

.footer .top .site-details {
    flex: 0 0 25%;
    line-height: 32px;
    font-size: 0.9rem;
}

.footer .top .redirects {
    flex: 0 0 15%;
    display: flex;
    flex-direction: column;
}

.footer .top .redirects a {
    text-decoration: none;
    color: #000;
    margin: 15px 0;
}

.footer .top .redirects a:first-child {
    margin-top: 0;
}

.footer .top .redirects a:hover {
    text-decoration: underline;
}

.footer .top .subscription {
    position: absolute;
    bottom: 45px;
}
.footer .top .subscription header {
    margin-bottom: 5px;
}

.footer .top .subscription form {
    margin: 0;
    display: flex;
}

.footer .top .subscription form input {
    border: 1px solid #000;
    border-right: none;
    padding: 20px 25px;
    width: 700px;
}

.footer .top .subscription form button {
    padding: 20px 25px;
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.footer .top .subscription form button:hover {
    color: #fff;
    background-color: #737373;
}

.footer .bottom {
    background-color: #000;
    color: #fff;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
}

.footer .bottom .social {
    font-size: 1.5rem;
}

.footer .bottom .social i {
    margin-left: 10px;
    cursor: pointer;
}